/* Fonts */
@font-face {
  font-family: 'Earthbound';
  src: url('../fonts/Earthbound-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.ttf');
}

* {
  font-family: 'Lato';

}

/* CSS for all elements */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.error {
  color: red;
}

/* Landing CSS */
#tusk_logo {
  width: 512px;
  height: 512px;
}

/* Login CSS */
#login {
  vertical-align: top;
  display: inline-block;
}

#register {
  vertical-align: top;
  display: inline-block;
}

/* Helper classes */
.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.form input {
  display: block;
}
